*{
    padding: 0;
    margin: 0;
    color:greenyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.img-box{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(255, 183, 14);
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2{
   font-size: 20px;
   text-transform: capitalize;
}
.menu{
    background-color: rgb(16, 32, 201);
    width:160px ;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;

}
ul li a{
display: block;
text-decoration: none;
background-color: #00d5ff;
padding: 10px;
margin:5px 0 ;
border-radius: 8px;
display: flex;
align-items: center;
gap: 40px;
transition: 0,5s;
}
ul li a:hover, .active{
    background-color: rgb(133, 16, 201);
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color:rgb(201, 53, 16);
}
ul li a i{
font-size: 30px;
}